<link rel="stylesheet" href="/styles.css">


<h1>Edit Post</h1>
<form action="/edit/<%= post.id %>" method="POST">
  <div class="text-field">
    <p>Title of Blog Post:</p>
    <input type="text" name="title" value="<%= post.title %>" required>
  </div>
  <div class="text-field">
    <p>Author of Blog Post:</p>
    <input type="text" name="author" value="<%= post.author %>" required>
  </div>
  <div class="text-field">
    <p>Content of Blog Post:</p>
    <textarea name="content" required><%= post.content %></textarea>
  </div>
  <button type="submit">Save Changes</button>
</form>
